<div class="container">
    
    <div>
        
        <ul class="list-group cachimbas">

            <li class="list-group-item titulo" style="border:none; background-color: white; color: #369;border-top: 3px double #369;
            border-bottom: 3px double #369;" aria-current="true"> <b>· SABORES ·</b></li>
            <div style=" text-align: center">

                <h5  style="color: rgb(255, 255, 255); padding: 10px;  border-bottom: 1px solid white;"><b>12.00€</b></h5>
            </div>
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista" >
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>MOON DREAM</b></div>
                        Vainilla, chicle y menta
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista">
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>TWO APPLES FLAVOR</b></div>
                        Manzana verde y roja afrutada con un toque de anís
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista">
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>BLACK NANA</b></div>
                        Menta y uva
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista">
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>WATERFALL</b></div>
                        Sandia dulce helada
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista" >
                    <div class="ms-2 me-auto letrasSabores" >
                        <div class="fw-bold"><b>DANCING QUEEN</b></div>
                        Vainilla y menta
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista" >
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>BIG BOY</b></div>
                        Sandía y menta
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista" >
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>RED BLAST</b></div>
                        Menta y frambuesa
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista" >
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>BLUE YELLOW</b></div>
                        Melón y arándano
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista" >
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>SEXY GREEN</b></div>
                        Menta y clorofila
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista" >
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>ALIEN TWIST</b></div>
                        Lima con hielo
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista" >
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>WHITE CAKE</b></div>
                        Tarta de queso, vainilla y caramelo
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista" >
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>LOVE 66</b></div>
                        Maracuýa, fruta de la pasió, melón, mensa y sandía
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista" >
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>SEDUCTION</b></div>
                        Melón y melocotón
                    </div>
                </li>

            </ol>
            <hr   />
            <ol class="list-group list-group-numbered">

                <li class="list-group-item fondoLista" >
                    <div class="ms-2 me-auto letrasSabores">
                        <div class="fw-bold"><b>BLUE LION</b></div>
                        Arándano y sandia chill
                    </div>
                </li>

            </ol>
        </ul>
        <br>

    </div>
    <br>
    <div style="text-align: center">
        <a href="./" class="btn btn-warning"><b>CARTA</b></a>
    </div>
    <br>
</div>
<br>
<p> Created by Sergio Galán </p>

