<div class="container mt-2">
    <div class="row" style="border: none ; background-color: transparent;">
      <div class="col-lg-8 offset-lg-2" style="border: none; background-color: transparent;">
        <div class="card" style="border: none;  background-color: transparent;">
          <div class="card-body">
            <div class="logo">
                <img href="" src="../assets/imgs/STAR.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
    <div class="row mt-0">
      <div class="col-lg-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  