<div class="container">

  <div>

    <ul class="list-group">
      <ul class="list-group carnes">
        <li class="list-group-item titulo" style="border: none;background-color: white; color: #369; border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· RACIONES ·</b></li>
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista"
            style="    place-self: center;">

            <h5>CARNES</h5>



          </li>
        </ol>
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Alitas de pollo</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">7.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Nuggets de pollo</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">7.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Pollo crujiente</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">9.00€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Carne con tomate</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">9.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Solomillo de cerdo</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">12.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Carrillera al vino tinto</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">12.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Secreto ibérico</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">12.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto descripcion">
              <div class="fw-bold"><b>Parrillada de carne</b></div>
              <h6>(Alas de pollo, pechuga de pollo, chorizo, salchichas, panceta y costillas)</h6>
            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">14.50€</span>
          </li>

        </ol>

      </ul>
      <ul class="list-group pescados">

        <br>
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista"
            style="    place-self: center;">

            <h5>PESCADOS</h5>



          </li>
        </ol>
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Calamares</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">9.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Rejos</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">9.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Bacalao dorado</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">9.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Chipirones a la plancha</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">12.00€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Sepia a la plancha</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">12.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto descripcion">
              <div class="fw-bold"><b>Fritura de pescado</b></div>
              <h6>(Rejos, chocos, calamares, boquerones, merluza y gambas)</h6>
            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">14.50€</span>
          </li>

        </ol>

      </ul>
      <ul class="list-group varios">

        <br>
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista"
            style="    place-self: center;">

            <h5>VARIOS</h5>



          </li>
        </ol>
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Patatas fritas</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">4.00€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Patatas bravas</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">4.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Patatas deluxe</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">4.50€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Patatas cheese&bacon</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">6.00€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Huevos rotos con jamón</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">8.00€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Huevos rotos con chistorra</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">8.00€</span>
          </li>

        </ol>
        <hr />
        <ol class="list-group list-group-numbered">

          <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><b>Croquetas caseras</b></div>

            </div>
            <span class="badge bg-primary rounded-pill" style="color: white">9.00€</span>
          </li>

        </ol>
      </ul>
    </ul>
    <br>
    <ul class="list-group bocadillos">
      <li class="list-group-item titulo" style="border:none;background-color: white; color: #369; 
        border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· BOCADILLOS ·</b></li>

      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion ">
            <div class="fw-bold"><b>Lomo</b></div>
            <h6>(Lomo, bacon, queso y cebolla frita)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>

      <hr />

      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Pollo</b></div>
            <h6> (Pechuga de pollo, tomate, lechuga y queso)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Bacon</b></div>
            <h6>(Bacon, queso, tomate y lechuga)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista ">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Serranito</b></div>
            <h6> (Lomo, jamón, pimiento, tomate y lechuga)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>
      <hr />

      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><b>Rejos</b></div>

          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><b>Calamares</b></div>

          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion ">
            <div class="fw-bold"><b>Montado de lomo</b></div>
            <h6> (Lomo y tomate)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">2.50€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Perrito caliente</b></div>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">2.50€</span>
        </li>

      </ol>
      <hr />
    </ul>
    <br>
    <ul class="list-group hamburguesa">
      <li class="list-group-item titulo " style="border: none; color: #369; border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· HAMBURGUESAS ·</b> </li>
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Hamburguesa</b></div>
            <h6>(Carne de cerdo, bacon, queso, tomate, lechuga, huevo cocido y cebolla frita)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold "><b> Hamburguesa rulo</b> </div>
            <h6>(Carne de cerdo, bacon, rulo de cabra y cebolla frita)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>

    </ul>
    <br>
    <ul class="list-group sandwich">
      <li class="list-group-item titulo" style="border: none;background-color: white; color: #369; border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· SANDWICHES ·</b> </li>
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Mixto</b></div>
            <h6>(Jamón york y queso)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">2.50€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Vegetal</b></div>
            <h6>(Jamón york, tomate , lechuga, huevo y queso)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">2.80€</span>
        </li>

      </ol>

    </ul>
    <br>
    <ul class="list-group chapatas">
      <li class="list-group-item titulo" style="border: none;background-color: white; color: #369; border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· CHAPATAS ·</b></li>
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Mixta</b></div>
            <h6>(Jamón york, bacon, Frankfurt, mozarella y salsa tomate)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Barbacoa</b></div>
            <h6>(Carne, salsa barbacoa, mozarella y salsa tomate)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>4 Quesos</b></div>
            <h6>(Emmental, cheddar, mozarella y queso azul)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Atún</b></div>
            <h6>(Atún, mozarella y salsa tomate)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">4.20€</span>
        </li>

      </ol>
    </ul>
    <br>

    <br>
    <ul class="list-group ensaladas">
      <li class="list-group-item titulo" style="border: none;background-color: white; color: #369; border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· ENSALADAS ·</b> </li>
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Mixta</b></div>
            <h6>(Lechuga, tomate, huevo y atún)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">5.50€</span>
        </li>

      </ol>

      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>César</b></div>
            <h6> (Lechuga mezclum, pollo empanado, anchoas, picatostes, salsa césar y queso parmesano)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">7.00€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Rulo de cabra</b></div>
            <h6>(Lechuga mezclum, nueces, pasas, vinagre balsámico, rulo de cabra y cebolla crujiente)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">7.00€</span>
        </li>

      </ol>
      <hr />
    </ul>
    <br>
    <br>
    <ul class="list-group combinados">
      <li class="list-group-item titulo" style="border: none;background-color: white; color: #369; border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· PLATOS COMBINADOS ·</b> </li>
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold "><b>Nº1</b></div>
            <h6> (Huevo frito, filetes de lomo, pimientos y patatas fritas)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">6.00€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold "><b>Nº2</b></div>
            <h6> (Huevo frito, pechuga de pollo empanada y patatas fritas)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">6.00€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Nº3</b></div>
            <h6> (Calamares, croquetas y ensalada)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">6.00€</span>
        </li>

      </ol>
      <hr />
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Nº4</b></div>
            <h6> (Huevo frito, bacon, salchichas y patatas fritas)</h6>
          </div>
          <span class="badge bg-primary rounded-pill" style="color: white">6.00€</span>
        </li>

      </ol>
      <hr />
    </ul>
    <br>


    <br>
    <ul class="list-group paella">
      <li class="list-group-item titulo" style="border: none;background-color: white; color: #369; border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· POR ENCARGO ·</b> </li>
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
          <div class="ms-2 me-auto descripcion">
            <div class="fw-bold"><b>Paellas</b></div>
            <h6>(Mínimo 4 personas)</h6>
          </div>
          <!-- <span class="badge bg-primary rounded-pill" style="color: white">6.00€</span> -->
        </li>

      </ol>


    </ul>
    <br>

  </div>
  <br>
  <div style="text-align: center">
    <a href="./cachimbas" class="btn btn-warning"><b>CACHIMBAS</b></a>

  </div>
  <br>
</div>
<br>
<p> Created by Sergio Galán </p>