<div class="container">
    
    <div>
      <ul class="list-group bocadillos"  >
        <li class="list-group-item titulo" style="border:none;background-color: white; color: #369; 
        border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· BOCADILLOS ·</b></li>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
              <div class="ms-2 me-auto " >
                <div class="fw-bold"><b>Lomo</b></div>
                Lomo, bacon, cebolla y queso
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista"  >
              <div class="ms-2 me-auto" >
                <div class="fw-bold"><b>Pollo</b></div>
                Pechuga de pollo, tomate, lechuga y queso
              </div>
              <span class="badge bg-primary rounded-pill"style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista"  >
              <div class="ms-2 me-auto">
                <div class="fw-bold"style="color: green"><b>Bacon</b></div>
                Bacon, queso, tomate y lechuga
              </div>
              <span class="badge bg-primary rounded-pill"style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista "  >
              <div class="ms-2 me-auto">
                <div class="fw-bold"style="color: green"><b>Serranito</b></div>
                Lomo, jamón, pimiento, tomate y lechuga
              </div>
              <span class="badge bg-primary rounded-pill"style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold"style="color: green"><b>Hamburguesa</b></div>
                Hamburguesa, bacon, queso, tomate, lechuga, huevo y cebolla
              </div>
              <span class="badge bg-primary rounded-pill"style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold"style="color: green"><b>Jamón</b></div>
                Jamón y tomate con aceite de oliva
              </div>
              <span class="badge bg-primary rounded-pill"style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold"style="color: green"><b>Atún</b></div>
                Atún, huevo, tomate y lechuga
              </div>
              <span class="badge bg-primary rounded-pill"style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold"style="color: green"><b>Rejos</b></div>
               
              </div>
              <span class="badge bg-primary rounded-pill"style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista"  >
              <div class="ms-2 me-auto">
                <div class="fw-bold"style="color: green"><b>Calamares</b></div>
               
              </div>
              <span class="badge bg-primary rounded-pill"style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold"style="color: green"><b>Montado</b></div>
              </div>
              <span class="badge bg-primary rounded-pill"style="color: white">2.50€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista"  >
              <div class="ms-2 me-auto">
                <div class="fw-bold"style="color: green"><b>Perrito</b></div>
              </div>
              <span class="badge bg-primary rounded-pill"style="color: white">2.50€</span>
            </li>
       
        </ol>
      </ul>
      <br>
      <ul class="list-group sandwich" >
        <li class="list-group-item titulo" style="border: none;background-color: white; color: #369; border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· SANDWICHES ·</b> </li>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold"style="color: green"><b>Mixto</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">2.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
              <div class="ms-2 me-auto">
                <div class="fw-bold"style="color: green"><b>Vegetal</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">2.50€</span>
            </li>
       
        </ol>
      </ul>
      <br>
      <ul class="list-group chapatas">
        <li class="list-group-item titulo" style="border: none;background-color: white; color: #369; border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· CHAPATAS ·</b></li>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold" ><b>Mixta</b></div>
                Frankfurt, jamon york, bacon y mozarella con salsa de tomate
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold" ><b>Barbacoa</b></div>
             Carne y mozarella con salsa barbacoa
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold" ><b>Cuatro quesos</b></div>
              Elemental, cheddar, mozarella y queso azul
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
              <div class="ms-2 me-auto">
                <div class="fw-bold" ><b>Atún</b></div>
             Atún y mozarella con salsa de tomate
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">4.00€</span>
            </li>
       
        </ol>
      </ul>
      <br>
      <ul class="list-group raciones">
        <li class="list-group-item titulo" style="border: none;background-color: white; color: #369; border-top: 3px double #369;
        border-bottom: 3px double #369;" aria-current="true"><b>· RACIONES ·</b></li>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Calamares</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">9.00€</span>
            </li>
       
        </ol>
        
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Rejos</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">9.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Bacalao dorado</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">9.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Pollo crujiente</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">8.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Nugguets</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">7.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Carne con tomate</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">7.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Alitas de pollo</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">7.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Croquetas caseras</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">9.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Patatas fritas</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista"  >
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Patatas bravas</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">4.00€</span>
            </li>
       
        </ol>
        <ol class="list-group list-group-numbered">
            
            <li class="list-group-item d-flex justify-content-between align-items-start fondoLista" >
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Patatas deluxe</b></div>
                
              </div>
              <span class="badge bg-primary rounded-pill" style="color: white">4.50€</span>
            </li>
       
        </ol>
      </ul>
    </div>
    <br>
    <div style="text-align: center">
        <a  href="./cachimbas" class="btn btn-warning"><b>CACHIMBAS</b></a>

    </div>
    <br>
  </div>
  <br>
<p>  Creado por Sergio Galán </p>
